<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/admin/admin-layout">
<head>
<meta charset="ISO-8859-1">
<title>User List</title>
<style type="text/css">
tr:nth-child(even){
background:#fbeaee;
}
*{font-family: "Khmer OS Battambang","DaunPenh (Body CS)";" 
}


tr>th{
background: pink;
}
</style>
</head>
<body>
	<div layout:fragment="content"> 
		<div class="be-content">
		 	<div class="main-content container-fluid">
		 		<div style="margin-top:100px;">
		 			<table class="table table-stripped">
		 			<thead>
		 				<tr>
		 					<th th:text="#{id}">ID</th>
		 					<th th:text="#{username}">User Name</th>
		 					<th th:text="#{gender}">Gender</th>
		 					<th th:text="#{email}">Email</th>
		 					<th th:text="#{phonenumber}">Phone Number</th>
		 					<th>Status</th>
		 					<th colspan="3">Action</th>
		 				</tr>
		 			</thead>
		 			<tbody>
		 				<tr th:each="usr : ${USER}">
		 					<td th:text="${usr.id}"></td>
		 					<td th:text="${usr.username}"></td>
		 					<td th:text="${usr.gender}"></td>
		 					<td th:text="${usr.email}"></td>
		 					<td th:text="${usr.phonenumber}"></td>
		 					<td th:text="${usr.status}"></td>
		 					<td >
		 						<a th:href="@{/user-detail/{userHash}(userHash=${usr.user_hash})}"><i class="glyphicon glyphicon-user" style="color: pink; font-size:20px;"></i></a>
		 					</td>
		 					<td >
		 						<a th:href="@{/user-update-form/{userHash}(userHash=${usr.user_hash})}"><i class="glyphicon glyphicon-edit" style="color: pink; font-size:20px;"></i></a>
		 					</td>
		 					<td >
		 						<a th:href="@{/delete-user/{userHash}(userHash=${usr.user_hash})}"><i class="glyphicon glyphicon-trash" style="color: pink; font-size:20px;"></i> </a>
		 					</td>
		 				</tr>
		 				
		 				
		 				
					            
		 			</tbody>
		 			</table>
		 		</div>
		 	
		 	</div>
		 </div>
	</div>

</body>
</html>