<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="/admin/admin-layout">
<meta charset="ISO-8859-1">
<title>User Detail</title>
</head>
<body>
	<div layout:fragment="content"> 
		<div class="be-content">
		 	<div class="main-content container-fluid">
		 		<div style="margin-top:100px;">
					<fieldset>
						<legend align="center" style="padding:20px;font-size:30px;">User Detail</legend>
						<div th:object="${USER}" style="padding:30px;">
							<p style="font-size:20px;"><span>User Name : </span>&nbsp;&nbsp;&nbsp;<span th:text="*{username}"></span></p>
							<p style="font-size:20px;"><span>Gender : </span>&nbsp;&nbsp;&nbsp;<span th:text="*{gender}"></span></p>
							<p style="font-size:20px;"><span>Email : </span>&nbsp;&nbsp;&nbsp;<span th:text="*{email}"></span></p>
							<p style="font-size:20px;"><span>Phone Number : </span>&nbsp;&nbsp;&nbsp;<span th:text="*{phonenumber}"></span></p>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>	
</body>
</html>