 <div class="be-left-sidebar" style="margin-top:40px;" >
        <div class="left-sidebar-wrapper">
          <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
              <div class="left-sidebar-content">
                <ul class="sidebar-elements">
                  <li class="divider">Menu</li>
                  <li class="active"><a th:href="@{/dashboard}"><i class="icon mdi mdi-home"></i><span>Dashboard</span></a>
                  </li>
                  <li class="parent"><a href="#"><i class="icon mdi mdi-face"></i><span>User</span></a>
                    <ul class="sub-menu">
                      <li><a th:href="@{/user-list}">User List</a>
                      </li>
                      <li><a th:href="@{/user-cu}">Add User</a>
                      </li>
                     
                    </ul>
                  </li>
                  
                  
                
                  <li class="parent"><a href="#"><i class="icon mdi mdi-layers"></i><span>Role</span></a>
                    <ul class="sub-menu">                     
                      <li><a th:href="@{/role-list}">Role List</a>
                      </li>                                
                      <li><a th:href="@{/role-cu}">Add Role</a>
                      </li>                  
                    </ul>
                  </li>
                 
                 </ul>
              </div>
            </div>
          </div>
          <div class="progress-widget">
            <div class="progress-data"><span class="progress-value">100%</span><span class="name">Current Project</span></div>
            <div class="progress">
              <div style="width: 100%;" class="progress-bar progress-bar-primary"></div>
            </div>
          </div>
        </div>
      </div>